.contact {
    padding: 5rem 0 1rem;
    img {
        padding: .3125rem 0 0 0;
        width: 100%;
    }
    h1 {
        font-family: 'Architects Daughter', cursive;
        font-size: 1.7rem;
        line-height: 3.1rem;  
    }
    form {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        input[type=text]{
            margin-bottom: 1.25rem;
            padding: 1rem;
            width: 100%;
            // border:  .0625rem solid $light-gray;
            border: hidden;
            background-color: #e4e4e4; 
            outline: none;
            border-radius: 0;
            letter-spacing: .15rem;
            font-family: Helvetica Neue, sans-serif;
        }
        textarea {
            width: 100%;
            font-weight: 300;
            padding: 1rem;
            // border: .0625rem solid $light-gray;
            border: hidden;
            background-color: #e4e4e4;  
            outline: none;
            border-radius: 0;
            letter-spacing: .15rem;
            font-family: Helvetica Neue, sans-serif;
            // resize: vertical;
        }
    }
    button {
        margin: 1.25rem 0;
        padding: .9375rem 1.875rem;
        background-color: $light-blue;
        border: none;
        font-size: .9375rem;
        font-weight: 300;
        color: #fff;
        letter-spacing: .0625rem;
        outline: none;
    }

    button:hover {
        background-color: #7db0f2;
        color: #fff;
        outline: none;
    }

    button:active {
        background-color: #7db0f2;
        outline: none;
    }
}