article {
	padding: 6rem 0 4rem;
	li {
		position: absolute;
	}
}
ul {
	list-style: none;
	li {
		overflow: hidden;
	}
	img {
		width: 100%;
	}
	a {
		text-decoration: none;
	}
}
// h1 {
// 	color: $light-blue;
// 	font-family: 'Architects Daughter', cursive;
// 	font-size: 2rem;
// 	font-weight: 900;
// }
footer {
	background-color: $light-gray;
	width: 100%;
	text-align: center;
	padding: 4rem 0;
	img {
		// padding: 2rem 0 0 0;
		width: 12rem;
	}
	h3 {
		color: $light-blue;
		font-family: 'Architects Daughter', cursive;
		font-size: 2rem;
		padding: .8rem 0;
	}
	ul {
		padding: 0 0 .8rem;
		li {
			display: inline-block;
			img {
				padding: .3rem;
				width: 3rem;
			}
		}
	}
	p, a, li {
		color: #3b3b3b;
		letter-spacing: .19rem;
		font-weight: 200;
		font-size: .5rem;
	}
	p {
		padding: .2rem;
	}
	a {
		text-decoration: none;
	}
}