#nav-icon {
  width: 100%;
  height: 2.1rem;
  display: block;
  position: relative;
  top: 1rem;
  left: .4rem;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: .25rem;
    width: 1.3rem;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 6px;
  
}

#nav-icon span:nth-child(4) {
  top: 12px;
}

#nav-icon.open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 25%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

#nav-icon.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 25%;
}